<div class="map-container" style="height: 70%; padding: 10px">
  <c8y-loading class="loading-absolute" *ngIf="isLoading"></c8y-loading>
  <div class="map-frame" style="height: 100%">
    <div
      #IndoorDataPointMap
      style="width: 100%; height: 100%; background-color: #fff"
    ></div>
  </div>
  <div class="map-legend" *ngIf="building?.levels?.length > 1">
    <div>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="showZones"
          (ngModelChange)="toggleZoneVisibility()"
        />
        Show Zones
      </label>
    </div>
    <div *ngIf="(building?.levels?.length || 0) > 1">
      <div class="c8y-select-wrapper">
        <select
          class="form-control"
          [(ngModel)]="currentFloorLevel"
          (ngModelChange)="onLevelChanged()"
        >
          <option
            *ngFor="let level of building?.levels; let i = index"
            value="{{ i }}"
            title="{{ level.name }}"
          >
            {{ level.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<map-data-grid
[devices]="getManagedObjectsForCurrentFloorLevel()"></map-data-grid>
 