@import "~@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";

:host {
  display: block;
  height: 400px;
  width: 100%;
}

.marker-map-container,
.marker-map-frame,
#boundaryMap {
  height: 100%;
  width: 100%;
  padding-top: 5px;
}

.modal-body {
  height: 70vh;
}

.mar-0 {
  margin: 0;
}

.modal-body.map-modal-body {
  min-height: 60vh;
  height: 100%;
  display: flex; 
  flex-direction: column;
}

.map-content-wrapper {
  flex-grow: 1; // Allows the row to fill the height of the flex container
  height: 100%;
}

.map-container-col {
  height: 100%;
  padding: 0;
}

.marker-map-container,
.marker-map-frame,
#boundaryMap {
  height: 90%;
  width: 100%;
}
